@font-face {
    font-family: 'Open Sans';
    src: url('public/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('public/images/bg.png');
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 50px 10vw;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 0 0 20px 0 rgba(#000000, 0.1);
}

main {
    flex: 1 0 auto;
    display: flex;
    padding: 50px 10vw;
}

footer {
    padding: 50px 10vw;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 0 0 20px 0 rgba(#000000, 0.1);
    flex-shrink: 0;
}

h1 {
    margin: auto;
    text-align: center;
}
